@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<li class="nav-item">
    <a class="nav-link" href="@Url.Action("Index", "Cars")">
        <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
            <i class="fa fa-info text-dark text-sm opacity-8 mb-1"></i>
        </div>
        <span class="nav-link-text ms-1">Member Details</span>
    </a>
</li>
